<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Gluten Free Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d9.jpg" ><br><br>
  The gluten free diet is not a diet per se.

  It does not have main dietary principles or components, it does not have calorie requirements or food quality requirements, and rather it is the simple omission of a type of protein, gluten, from your diet.
  
  Gluten is a protein found in wheat products, barley, millet, and also rye.
  
  A gluten free diet can be folded into any other dietary framework (e.g. IIFYM, Paleo, Zone, etc.) by simply not eating gluten containing foods.
  
  Originally, the gluten free diet was used to help people with celiac disease avoid GI distress, malnourishment, and a host of other chronic health conditions that arise from people with celiac disease eating wheat.
  
  Popular reading books such as Wheat Belly and Grain Brain have proposed a link between wheat and gluten intake and obesity and chronic disease. 
  
  As such, it has more recently been adopted by a wide range of people, including those with no known diagnosis of celiac disease.
  
  <h2>History of The Gluten Free Diet</h2>
  The history of the gluten free diet can really be traced back around 2000 years ago.
  
  The skeletal remains of a human ancestor was found with evidence of malnutrition such as short height, osteoporosis, dental enamel hypoplasia and cribra orbitalia, indirect sign of anemia, all strongly suggestive for celiac disease and was confirmed with the genetic predisposition marker known for celiac disease.
  <br><br><img  class="img-responsive" src="../assets/d9a.jpg" ><br>
  More recently, in the 1940s a researcher by the name Willem-Karel Dicke discovered the benefits of a wheat-free diet in the 1940s and that it was the wheat protein and not the starch.

  Between the 1940s and now the identification of gluten and more specifically gliadin along with the genetic variants that are associated with the disease have been identified and celiac is much more well understood. The more recent discovery of non-celiac gluten sensitivity and other chronic conditions that appear to be associated with gluten and wheat consumption and less well understood.
  
  <h2>General Overview of Components & Main Principles of The Gluten Free Diet</h2>
  The main component of a gluten free diet is removing gluten containing foods including wheat, millet, rye, and barley from consumption. This can put blended with any other dietary approach (Paleo, Keto, Atkins, Zone, etc.). 
  
  As introduction of gluten at any time can make symptoms flare up, it is advised that the removal of gluten is permanent. No 80/20 rule here.
  
  <h2>Meal Timing/Frequency</h2>
  The gluten free diet does not prescribe any specific meal timing or frequencies.
  
  As it is solely based on the exclusion of a specific wheat based protein there are no limitations to the time or frequency of consuming food.
  
  <h2>Restrictions/Limitations</h2>
  A gluten free diet restricts gluten completely from consumption.
  
  This means the removal of wheat, barley, rye, millet, and a few other gluten containing foods.
  
  <h2>Does it Include Phases?</h2>
  People who present with gluten sensitivity and not diagnosable celiac often must undergo an elimination diet to pin down gluten as the root cause.
  
  This often requires individuals to avoid dairy, eggs, nightshades, and nuts with slow, systematic reintroduction.
  <br><br><img  class="img-responsive" src="../assets/d9b.jpg" ><br>
  <h2>Who is it Best Suited For?</h2>
  The gluten free diet is best suited for people who are diagnosed with celiac disease, who display non-celiac gluten sensitivity, or a wheat allergy.
  
  When you look at gluten free diets and how many people are likely to benefit the numbers are quite interesting. Approximately 0.7% of the entire U.S. population suffered from celiac disease. These people will almost undoubtedly benefit from a gluten free diet.
  
  When looking at intervention based research studies approximately 7-8% of participants claim to have a non-celiac gluten sensitivity. So combining those numbers it may be that about 1 in 10 people may have some benefits to their health and life if they avoid gluten.
  
  <h2>How Easy is it to Follow?</h2>
  Following a gluten free diet has literally never been easier. In the past 10 years the gluten free food market has exploded and accounted for 2.14 billion dollars in grocery sales in 2014.This means that finding food options for following a gluten free diet is much easier.
  
  Despite the vast increase in food choices and restaurants being more aware of gluten in their foods, it can still be a restrictive life style as it requires omitting a wide range of foods including wheat containing breads, pastas, pastries, and other baked goods.
  
  With thought and care, a gluten free diet can be fairly easily implemented in the current age.
  
  <h2>Scientific Studies and Interpretation of Data</h2>
  Despite the massive increase in interest among the health and fitness community, the majority of research surrounding gluten is limited to celiac disease, non-celiac gluten sensitivity, and attempting to figure out how it works in the gut.
  
  There are limited, well-controlled studies done in humans to answer the question of “does removing gluten improve health in individuals without celiac or non-sensitivity gluten sensitivity”.
  
  <h2>Fat Loss</h2>
  To date, there is no evidence that following a Gluten Free diet results in fat loss when all else is equal.
  
  However, people often will lose weight when following a gluten free diet when the remove grains from a diet which often results in reducing calorie intake substantially.
  <br><br><img  class="img-responsive" src="../assets/d9c.jpg" ><br>
  <h2>Health</h2>
  The amount of evidence behind a gluten free diet improving virtually all health markers for individuals with celiac disease is substantial.
  
  Briefly, individuals with celiac have reduced gut permeability, headaches, anemia, fatigue, and substantial improvements in quality of life. In individuals with non-celiac gluten sensitivity a gluten free diet has been shown to improve gastrointestinal issues.
  
  The controversies surrounding gluten free diets is mostly surrounding avoiding gluten for weight loss, brain health, and diabetes prevention. To date, there is no evidence to suggest that individuals without celiac disease or non-celiac gluten sensitivity will have any meaningful improvement in any health outcomes.
  
  However, the removal of gluten per se has not been documented to have any negative health outcomes.
  
  <h2>Conclusion</h2>
  A gluten free diet brings substantial health benefits to those with celiac disease (around 0.7-1.0% of the entire population) and may bring benefit to those with non-celiac gluten sensitivity.
  
  There is no evidence that avoiding gluten brings health or weight loss benefits to those without celiac or any adverse reactions to consuming gluten.
  
  When removing grains from your diet you will likely reduce calories and may lose weight; however this is a result of caloric restriction, not any magical property of removing gluten.
  
  The claims that wheat makes you fat or causes Alzheimers are also not well founded in the scientific literature.
  </div>