<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The IIFYM & Flexible Dieting Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d2.jpg" ><br><br>
  Without question the single biggest component to the success of any diet, calories are the overarching principle that needs to be addressed when fat loss or muscle gain is a focus.

The second major component of a diet aimed at losing fat or gaining muscle is the macro nutrient breakdown of the diet.

The macronutrients themselves can play a big role in satiety, your ability to workout at a high level, and how much muscle mass you are able to build.

Together, calories and macronutrients cover about 80% of the major components that make up a successful dieting paradigm.

(If It Fits Your Macros) IIFYM takes these two principles and uses them to build a diet that is very flexible on food quality and very rigid on food quantity.

<h2>History of IIFYM & Flexible Dieting</h2>
IIFYM has been around for decades and no one can truly pin down the date and place of its origin. It has evolved over the decades though and increased in its sophistication as it has gone through its iterations. It began with simple calculators based on basic formulas to assign calories and very general macro recommendations.

The most recent iteration of this diet uses more advanced tools that factor in sex, height, weight, lean mass, level of activity, days per week, minutes per day, intensity of exercise, weight goals, and even types of training etc. While it used to be considered a sub culture of a sub culture it is has grown into its own individual sub culture.

<br><br><img  class="img-responsive" src="../assets/d2a.jpg" ><br>
<h2>General Overview of Components & Principles of IIFYM/Flexible Dieting</h2>
The IIFYM diet is a breath of fresh air amidst the copious diets with page long lists of food restrictions as it adopts a basic principles approach and keys in on calories and macronutrients (macros) and leaves the type and quality of the food out of the equation.

Under the IIFYM paradigm all macros are considered equal, meaning the 30 grams of carbohydrates from brown rice are the same as 30 grams of carbohydrates from Fruit Loops. Recently, the principles and philosophies of IIFYM have been ported over in a new diet called Flexible Dieting, which is essentially the exact same approach.

Both IIFYM and Flexible Dieting use sex, height, weight, lean mass, level of activity, days per week, minutes per day, intensity of exercise, weight goals, and even types of training to build a calorie and macronutrient profile for you.

There are nuances to each IIFYM calculator but most of them will utilize a protein per pound of bodyweight value that falls between 0.7 and 1.0 grams per pound of body weight, sets fat calories between 0.35-0.5 grams per pound and then rounds out the rest of the calories from dietary carbohydrates.

Tracking food intake is also one of the key components of IIFYM. As dietary quality and food selection is not focused on, the quantity of the food and specifically, the macros are the main metric by which your dietary success is measured.

The recent advent of online tools such as MyFitnessPal, and other online nutritional databases and tracking software have made tracking food much easier and can be considered a key feature of the recent explosion in the popularity of IIFYM as a dietary framework for people.
<br><br><img  class="img-responsive" src="../assets/d2b.jpg" ><br>
<h2>Meal Timing/Frequency</h2>
Under the IIFYM paradigm there is no strict guideline of meal timing or meal frequency. Ideally each individual divides up their daily calorie/macro allotment based on their preference and schedule.

Some individuals adopt the intermitting fasting approach while others adopt the 6 smalls meals a day. There are no hard, fast rules about timing of meals or macronutrients or the frequency at which you eat.

<h2>Restrictions/Limitations</h2>
When we look at the IIFYM approach to dieting the list of restrictions/limitations is quite low. The main ones are calorie and macronutrients limitations.

IIFYM is founded upon the idea that food quality plays only a minor, if any role, and that no foods need to be restricted in your diet. This stands orthogonal to most other dietary frameworks.

<h2>Does it Include Phases?</h2>
Generally speaking, IIFYM does not include phases. While some variations or subsets of IIFYM based diet programs may include distinct phases from the get go, it is not a core feature. People will often adjust calories and macros down based on their specific goals (e.g. bulking, cutting, or maintaining).

In practicality, most people use IIFYM in a phasic, or cyclical, manner in which they go through periods or cycles of bulking, cutting, and maintaining. The biggest difference between these phases is the change in total calories from your total daily energy expenditure (TDEE).

If you are in a bulking phase you might set your macros based on a total calorie intake that ranges from TDEE + 10% to TDEE +25%, depending on how aggressive you want to get with the bulk.

The same, but opposite, goes for cutting where macros will be based on calorie intakes ranging from TDEE - 10% to TDEE - 25%. Maintenance phases are typically set on calories based right at your TDEE.
<br><br><img  class="img-responsive" src="../assets/d2c.jpg" ><br>
<h2>Who is it Best Suited For?</h2>
IIFYM is best for people who enjoy/are able to be very quantitative in their approach to food and enjoys tracking their food. Additionally, it is best suited for people who prefer to eat “flexibility” in their food choices as there are no “off limit” foods and no true dietary restrictions.

This is in stark contrasts to diets like the paleo diet, the Mediterranean diet, Veganism, Whole 30, Keto, etc. This is truly one of those dietary approaches is best for people who like to have their cake and eat it to.

<h2>How Easy is it to Follow?</h2>
Of all the dietary frameworks out there IIFYM is both the easiest to follow, and the hardest to follow. It is the easiest in the sense that there are no real dietary restrictions and you will be hard pressed to find yourself in a situation where there is nothing to eat, you will rarely, if ever, find yourself deprived of a favorite food, and can easily have your cake and eat it too.

On the contrary, IIFYM places fairly strict guidelines of how much to eat and requires meticulous weight, portioning, and tracking of your food. Initially, this can be a huge hurdle as there is a learning curve where everything needs to be measured as the eye ball method hasn’t been a well trained skill set yet.

However, as time goes on, your skill set improves and you are able to measure less and know precisely how much of each macro is in a given food. One other difficulty of IIFYM is that it relies on the accuracy of food packages, which can be off by a substantial margin, this is especially true in restaurants where food information is either non existent, or off by 20-30% at times.

<h2>Mainstream Belief Behind Diet</h2>
The mainstream belief behind IIFYM is that calories and macros are by far the biggest piece to the nutrition puzzle in terms of getting results.

Quantity trumps quality by such a substantial margin that you don’t even need to think about the quality of your food if you are hitting your macros.

<h2>Scientific Studies and Interpretation of Data</h2>
There are no scientific studies published directly on IIFYM to date. This is likely due to the fact it doesn’t hinge on a singular dietary principle as traditionally thought of and it has not got the eye of mainstream nutrition researchers yet.

While there are no published studies directly looking at IIFYM there are several veins of research we can look at to see if the main concept of “calories and macros trump everything” holds true.

<br><br><img  class="img-responsive" src="../assets/d2d.jpg" ><br>
<h2>Fat Loss Benefits</h2>
When you look really closely at the scientific literature surrounding different dietary modalities and fat loss there are 2 key principles that stick out loud and clear:
<br>
1. Calorie balance<br>
2. Dietary adherence <br>
For example, this study directly compared 4 very difference diets (Atkins, Ornish, Weight Watchers, and Zone) and demonstrated that the weight loss was similar amongst all diets and that adherence was the biggest deterrent of weight loss, not the specific diet itself1.

Another very interesting paper showed that even more direct, drastic manipulations of specific macros still pale in comparison to controlling simply for calories on weight loss2.

<h2>Muscle Building Benefits</h2>
Similar to fat loss, muscle gain appears to be primarily regulated by calories, with one caveat, protein intake. For example, during a “cut” it is well known that dietary protein intake needs to equate to a higher percentage of total calorie intake to maintain muscle mass3.

Conversely, during a bulking phase where calories are adequate you start to lose the benefit of adding more protein somewhere between 0.7 - 1.2 grams per pound in non-steroid using lifters.

These two ideas are taken into account in most IIFYM calculators as they typically set protein based on body weight and protein natural sits at an optimal level during both cut cycles and bulking cycles.

<h2>Overall Health Benefits</h2>
One of the dirty little secrets in the science world about diets is that the main determinant of the “health benefits” of diets come from the weight loss aspect. Almost across the board, improvements in blood lipids, blood sugar, insulin sensitivity, and other markers of cardiovascular disease and other chronic diseases improve almost linearly with weight loss.

Now that being said, when weight loss is factored in, there are additional health benefits from having higher levels of fruit, vegetable, fish, and tree nut intake when compared to highly processed foods like pop tarts, sugary cereals, etc.

Thus, when using IIFYM it is likely a wise choice to make the former a bulk of your diet and use the latter to fill in caloric and macronutrient needs. The exact role these will play in your long term health is still to be determined by nerds in white coats.
<br><br><img  class="img-responsive" src="../assets/d2e.jpg" ><br>
<h2>Conclusion</h2>
If It Fits Your Macros takes the idea that calories and macros are the most important aspects of a diet for weight loss or weight gain and essentially disregards food quality. Under the IIFYM paradigm all macros are considered equal, meaning the 30 grams of carbohydrates from brown rice are the same as 30 grams of carbohydrates from Fruit Loops.

Recently, the principles and philosophies of IIFYM have been ported over in a new diet called Flexible Dieting, which is essentially the exact same approach.

When we talk about fat loss, the science highlights 2 key principles that stick out loud and clear: Calorie balance and dietary adherence. IIFYM nails the calorie piece placing it at the top of the list of things to focus on.

Of all the dietary frameworks out there IIFYM is both the easiest to follow, and the hardest to follow. It is the easiest in the sense that there are no real dietary restrictions and you will be hard pressed to find yourself in a situation where there is nothing to eat, you will rarely, if ever, find yourself deprived of a favorite food, and can easily have your cake and eat it too.

On the contrary, IIFYM places fairly strict guidelines of how much to eat and requires meticulous weight, portioning, and tracking of your food.

There are inherent benefits and drawbacks to the IIFYM approach that make it easier for some people to follow, while harder for others. Simply weighing the benefits and drawbacks based on your own life style can easily help you decide how easy it will be for you to follow.
</div>