<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Paleolithic (Paleo) Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d6.jpg" ><br><br>
  The Paleolithic diet, aka the paleo diet, is based upon the idea that our current food environment is at odds with our evolutionary heritage and that the optimal diet is to mimic that of our Paleolithic ancestors.

  It has been argued that for nearly 99% of human history we ate a certain way, and only in the past 1% of the human timeline have we begun to eat as we currently do.
  
  The paleo diet claims that this mismatch between our genetics and our environment is responsible for the large increase in obesity, diabetes, and other chronic disease we currently face.
  <br>
  The basic tenets of this diet are to:<br>
  
  1. Avoid: processed foods, grains, legumes, and dairy <br>
  2. Consume: lean meats, fruits, vegetables, and “healthy fat”.<br> 
  Also, calorie counting is not generally promoted by the paleo diet; food quality is the primary focus.
  
  In general, it adopts a more low-carbohydrate stance. It tries to minimize starch intake and often times the types of foods people tend to consume on a paleo diet shifts their macronutrient intake to a high protein, high fat, low carb diet.
  
  <h2>History of the Paleo Diet</h2>
  The paleo diet, as currently thought of, can be initially traced back to Dr. Boyd Eatin and Dr. Melvin Konner who originally published a paper in the New England Journal of Medicine titled, “Paleolithic Nutrition - A Consideration of its Nature Current Implications”.
  
  It was brought into the mainstream media by Dr. Loren Cordain who published the book, “The Paleo Diet: Lose Weight and Get Health by Eating the Foods You Were Designed to Eat” in 2001.
  <br><br><img  class="img-responsive" src="../assets/d6a.jpg" ><br>
  The paleo diet really gained traction when Robb Wolf wrote The Paleo Solution in 2010 and exploded onto the CrossFit scene when Greg Glassman unofficially adopted it as the diet of Crossfit.

  Since then it has flowed over into the rest of the health and fitness industry.
  
  <h2>General Overview of Components & Main Principles of the Paleo Diet</h2>
  The paleo diet attempts to use anthropological and historical data to recreate the human food environment prior to the domestication of plants and animals; In essence, it attempts to recapitulate both the macronutrient composition and the types of foods that hunter gatherers ate.
  
  The paleo diet does not set forth strict macronutrient rules; however, it does by virtue of its other principles suggest a high protein, higher fat, lower carbohydrate intake.
  
  The basic tenets of this diet are to avoid processed foods, grains, legumes, and dairy, while consuming lean meats, fruits, vegetables, and “healthy fat”.  The paleo diet is often described as, "Eat meat and vegetables, nuts and seeds, some fruit, little starch, and no sugar. Keep carb intake to levels that will support exercise but not body fat”.
  
  <h2>Meal Timing/Frequency</h2>
  In the original NEJM paper by Eaton and Konner, the original paleo diet book by Dr. Cordain, and in the Paleo Solution by Robb Wolf, there are no explicit guidelines regarding the timing of meals or how often individuals should eat.
  
  In many of the prescriptions of the diet we see a wide range of recommendations, including many (5-7) small meals per day all the way through to intermittent fasting.
  
  <h2>Restrictions/Limitations</h2>
  Much like clean eating, the paleo diet does have restrictions and limitations: you should not eat anything that your Paleolithic ancestors were not able to eat. On a paleo diet one should not consume processed foods.
  
  In addition to the removal of processed foods, there are many whole foods that are also restricted, including: cereal grains (even whole, unprocessed cereal grains), legumes (e.g. peanuts), and dairy (e.g. milk, yogurt, and cheese).
  
  Some highly restrictive versions of the diet eliminate more foods, including nightshades, conventional farmed meat, and eggs.
  <br><br><img  class="img-responsive" src="../assets/d6b.jpg" ><br>
  <h2>Does it Include Phases?</h2>
  As traditionally thought of, the paleo diet does not usually include phases. Most prescriptions of the paleo diet as instantiated in books, articles, and programs have people initiate the full spectrum of the diet at the outset.
  
  Some even include 30 day challenges in which whole, natural foods must be consumed for the entirety of the 30 days with no deviation from the protocol.
  
  <h2>Who is it Best Suited For?</h2>
  The paleo diet is best suited for individuals who prefer to focus in the quality and type of their food selections and for people who do not wish to closely monitor the amount of food they consume. The paleo diet is optimally suited for individuals with Celiac Disease as it is typically constructed as a gluten free diet.
  
  Additionally, some variants of the paleo diet are used as autoimmune protocols for people with hard to treat autoimmune diseases. While some athletes with high training volume may have a difficult time excelling and improving with a paleo diet due to the relatively low carbohydrate nature the diet usually follows.
  
  Many low volume training athletes can excel at the diet. Higher volume athletes can easily adapt the diet to meet their needs by increasing the amount of starch they consume.
  
  <h2>How Easy is it to Follow?</h2>
  How easy it is to follow the paleo diet really depends on what type of person you are and your food preferences. For people who enjoy eating a wide variety of food, do not enjoy food restrictions, and would rather focus on the quantity of their food (i.e. the calories and macros) the paleo diet may be rather difficult to follow.
  
  While fairly restrictive, there are some benefits to follow the paleo diet. For example foods like bacon, steak, and butter are encouraged on the paleo diet and there are limited restrictions on food amount.
  
  Additionally, the paleo diet can be followed long term by building in some “controlled flexibility”. For example, individuals who successfully implement the Paleo Diet long term usually build in small amounts of flexibility and follow either an 80/20 or 90/10 rule where they allow themselves to eat food on the restricted list 10-20% of the time.
  
  <h2>Mainstream Belief Behind Diet</h2>
  When boiled down to its most basic idea, the paleo diet turns on the idea that humans should eat in accordance with their evolutionary roots. It also turns on the idea that chronic diseases like obesity, heart disease, and diabetes were not issues to human health during Paleolithic times.
  
  While these ideas have not been widely accepted by the scientific community as truths, there are substantial benefits to many of the dietary principles adopted by paleo diet.
  <br><br><img  class="img-responsive" src="../assets/d6c.jpg" ><br>
  <h2>Scientific Studies and Interpretation of Data</h2>
  Unlike many popular diets the paleo diet has, at least on its surface, some basis on human evolution and has a fairly rigid framework in which to tests hypotheses.
  
  This has led to several direct studies on the effects of the paleo diet on weight loss and human health.
  
  <h2>Fat Loss</h2>
  Several, small trials have been conducted looking at the paleo diet for fat loss. In one small Australian study the paleo diet led to greater fat loss than a standard “healthy diet”.
  
  This result needs to be interpreted with some caution as the paleo diet group consumed less total calories per day than the “healthy diet” group, making it difficult to conclude it was the paleo diet itself that led to the greater weight loss.
  
  There are several more studies that show similar findings suggesting that the paleo diet is a dieting framework that can successfully lead to weight loss and improvements in body composition.
  
  Perhaps one of the more relevant studies is one showing that a paleo diet can improve body composition and insulin sensitivity in people with type 2 diabetes, independent of exercise5.
  
  <h2>Human Health</h2>
  A recent study demonstrated that a 10 day excursion on a paleo diet was capable of improving insulin sensitivity and favorably altered blood triglycerides.
  
  Another study showed that a paleo diet lead to improvements in glycemic control and cardiovascular risk factors in patients with T2DM. Interestingly, they also showed that the paleo diet led to “spontaneous caloric restriction” as shown in previous studies.
  <br><br><img  class="img-responsive" src="../assets/d6d.jpg" ><br>
  <h2>Conclusion</h2>
The Paleolithic diet, aka the paleo diet, is based upon the idea that our current food environment is at odds with our evolutionary heritage and that the optimal diet is to mimic that of our Paleolithic ancestors.

It has been argued that for nearly 99% of human history we ate a certain way, and only in the past 1% of the human timeline have we’ve begun to eat as we currently do.

The paleo diet claims that this mismatch between our genetics and our environment is responsible for the large increase in obesity, diabetes, and other chronic disease we currently face.

The basic tenets of this diet are to avoid processed foods, grains, legumes, and dairy, while consuming lean meats, fruits, vegetables, and “healthy fat”. Also, calorie counting is not generally promoted by the paleo diet; food quality is the primary focus.

In general, it adopts a more low-carbohydrate stance. It tries to minimize starch intake and often times the types of foods people tend to consume on a Paleo diet shifts their macronutrient intake to a high protein, high fat, low carb diet.
  </div>