<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Intermittent Fasting Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d4.jpg" ><br><br>
  Intermittent fasting is a dietary philosophy that either involves long periods of fasting followed by short windows of feasting or 24 hours of fasting followed by 24 hours of feasting (this is known as alternate day fasting).

There are several variations of intermittent fasting with the most popular fasting protocol being a 16 hour fast followed by an 8 hour feasting window.
<br>
The basis of intermittent fasting hinges on a few key ideas:
<br>
1. Maximizing the time your body spends oxidizing fat<br>
2. Minimizing overall insulin load to the system<br>
3. Improved energy levels<br>
4. Increased longevity.<br>
Recently several key studies have been carried out to examine how these claims stack up to the research and the results have been quite interesting.

<h2>History Behind Intermittent Fasting</h2>
Intermittent fasting as it is currently understood and practice is often believed to have begun with Martin Berkhan as he is largely responsible for the widespread adoption of the diet amongst body building and figure competition circles. However, the idea of fasting as a dietary principle dates back much further than that.

The ancient Greek physician Hippocrates wrote, “To eat when you are sick, is to feed your illness”. Another ancient Greek writer and historian Plutarch is also credited with penning “Instead of using medicine, better fast today”. In more recent times one of our founding fathers, Benjamin Franklin, stated, “The best of all medicines is resting and fasting”.

Thus, while the recent popularization of intermittent fasting has brought this approach to main stream health and fitness culture, the idea of fasting is as ancient as the dawn of civilized man.
<br><br><img  class="img-responsive" src="../assets/d4a.jpg" ><br>
<h2>General Overview of Components & Main Principles of Intermittent Fasting</h2>
Intermittent fasting is a dietary philosophy that utilizes fasting and feasting periods. There are several variations of intermittent fasting with the most popular fasting protocol being a 16 hour fast followed by an 8 hour feasting window.

Intermittent fasting does not by design prescribe specific calorie allotments, macronutrient ratios, or provide a list of good or bad foods to eat and is generally not restrictive of any foods.

<h2>Meal Timing/Frequency</h2>
Unlike many other dietary frameworks or plans, intermittent fasting relies almost solely on meal timing and meal frequency. As typically thought of, intermittent fasting usually adopts a 16 hour fasting window, followed by an 8 hour feasting window.

Most people will consume 1-2 very large meals during the feasting window, although one can consume several small meals throughout this time. Other fasting approaches, such as the alternative day fast employs a 24 hour fast, followed by a full 24 hours of feasting.

<h2>Restrictions/Limitations</h2>
Aside from the timing restrictions and limitations, there are no hard and fast food restrictions of limitations. This is often interpreted as an “anything goes” during the feasting window.

However, in practice, the people who achieve the best results using intermittent fasting typically apply another dietary framework (such as IIFYM or flexible dieting) to give them some structure to their food intake during the feasting window.

<h2>Does it Include Phases?</h2>
Intermitting fasting does not include any phases in its dietary protocol, although some people will go through fasting cycles where they go long periods of adhering to the fasting protocols and then periods of normal eating.

<h2>Who is it Best Suited For?</h2>
Intermittent fasting is best suited for people who have busy schedules and would prefer to lump their eating into 1-2 meals a day rather than spreading them throughout the day. Fasting can also be excellent for people learning to manage hunger cues and retraining their eating habits.

Intermittent fasting is also an excellent way to help people control calories as often times shortening the amount of time one eats during the day can reduce overall calories.
<br><br><img  class="img-responsive" src="../assets/d4b.jpg" ><br>
<h2>How Easy is it to Follow?</h2>
Intermittent fasting is easy to follow in that it does not limit or restrict food, allows one to eat without tightly tracking calories, and will not place a burden on your social life (i.e. not being able to go out to dinner and order something on the menu). It also can make life much easier as there is less time spent cooking, eating, and cleaning up.

It can be difficult for some people who enjoy the process of cooking and eating; people who struggle learning to manage hunger during the early phases of adopting the diet may also find it difficult to follow.

<h2>Mainstream Belief Behind Diet</h2>
The mainstream belief behind intermittent fasting is that it unlocks aspects of our evolution as human beings and conveys some health and weight loss benefits when compared to our traditional 3 meals per day approach.
<br>
Several of the beliefs underlying intermittent fasting are:
<br>
1. Maximizing the time your body spends oxidizing fat<br>
2. Minimizing overall insulin load to the system<br>
3. Improved energy levels,<br>
4. Increased longevity.<br>
<h2>Scientific Studies and Interpretation of Data</h2>
There are quite a few studies that delve into the benefits of intermittent fasting as a tool to promote fat loss.

As mentioned prior, the ideal of fasting to promote health benefits has been around since ancient civilization.

Today, many of the general speculations regarding the general health benefits of fasting still ring true, however whether or not this has more to do with caloric restriction is still up for debate.

Below we will outline some of the studies that have been conducted that lay out these benefits in an unbiased platform.

<h2>Fat Loss Benefits</h2>
One of the major claims of intermittent fasting is that it is an excellent tool for fat loss. There have been several studies that have examined the role of meal frequency in fat loss, including things like alternate day fasting and even the intermittent fasting protocol.

For a long while these studies were brushed off by social media and fitness forums as they were not truly studies of the specific intermittent fasting protocol; however, recently one study was done that followed the traditional 16/8 fasting/feasting protocol as prescribed by traditional intermittent fasting protocols.
<br><br><img  class="img-responsive" src="../assets/d4c.jpg" ><br>
In this study, the group following the intermittent fasting protocol did lose about 3.5 pounds more fat than the normal dieting group; however, this also occurred concurrently with lower calorie intake than the normal diet group so it is likely the greater fat loss was due to lower calorie intake.

One of the more interesting notes about this study, as mentioned by Greg Nuckols is that, “Testosterone and IGF-1 levels decreased, levels of several pro-inflammatory cytokines decreased, cortisol levels increased, insulin and blood glucose levels decreased, triglyceride levels decreased, T3 levels decreased and RER decreased slightly.

Those are all things you’d expect to see in a calorie deficit. And while it’s true that the IF group was in a calorie deficit, it was a very small one (less than 10% below maintenance) – probably not a large enough deficit to explain those effects.

On the whole, this study makes it seem that IF “tricks” your body into thinking you’re dieting, even if you’re at (or at least close to) caloric maintenance, in a manner that’s generally consistent with improved health and longevity”.

<h2>Muscle Building Benefits</h2>
When you look closely at the fasting literature it appears that intermittent fasting does not appear to convey any additional benefits to muscle building when calories are held equal.

That being said, periods of fasting may improve the quality of muscle tissue by increasing its cellular cleaning processes (e.g. autophagy and heat shock protein response). However, this research is currently preliminary and is mostly speculation at this point.

<h2>Overall Health Benefits</h2>
Of all the areas of research on fasting, the effects of fasting on overall health and longevity perhaps the most interesting. Several studies in animal models have shown that periods of fasting increase lifespan and improve several metabolic parameters as these animals age.

Perhaps the best known phenomena of fasting is increases in autophagy, a cellular “cleaning process”. There is some good animal evidence to also suggest that fasting may increase longevity; however, the data in humans is short term and long term data is not available, so much of this is still speculation.

<h2>Conclusion</h2>
Intermittent fasting offers a food-flexible approach to dieting and may have some unique metabolic benefits for health and longevity. From a fat loss perspective, intermittent fasting can be an excellent tool, mainly due to controlling calorie intakes.

Intermittent fasting can be used in its widely known format of a 16 hour fast followed by an 8 hour feasting window; the alternate day fasting approach with a 24 hour fast followed by a 24 hour feast. Intermittent fasting is easy to follow in that it does not limit or restrict food, allows one to eat without tightly tracking calories.
</div>