<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
<h1 style="text-align: left;margin-top: 5%;">Get the V-Shaped Body You’ve Always Wanted</h1>
<h3>This workout is designed to chisel your upper body and pack on muscle all over. And it takes just 30 minutes!</h3>
<hr style="border:0.5px solid black;">
<br><br><img  class="img-responsive" src="../assets/v2.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
If you line up two guys with the same amount of muscle and fat on their frame, the guy with broader shoulders and a slimmer waist always appears fitter and stronger.<br>
That's why I designed this workout to pack muscle onto your frame—especially your back and shoulders—while cutting your gut in the process. <br>
<h2>1. Barbell Straight-Leg Deadlift</h2>

<br><br><img  class="img-responsive" src="../assets/v3.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>

Grab a barbell using an overhand grip, and let it hang at arm’s length in front of you. Stand tall with your feet hip-width apart and knees slightly bent.<br>
Brace your core, push your hips back, and lower your chest until it’s nearly parallel to the floor (don’t round your back). Thrust your hips forward to return to the starting position. <br>
<br><b>Reps: 8</b>
<h2>2. Pushup Lockoff</h2>
<br><br><img  class="img-responsive" src="../assets/v4.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Assume a pushup position but place your right hand on a medicine ball. Keeping your body straight, lower your chest until it’s a few inches from the floor. Now push up until your right arm is straight, and touch your right shoulder with your left hand.<br>

Return to the starting position. Do all your reps and then repeat with your left hand on the ball.<br>
<br>
<b>Reps: 8 per arm</b><br>
<b>Supersets: 4</b>
<h2>3. Underhand-Grip Lat Pulldown</h2>
<br><br><img  class="img-responsive" src="../assets/v5.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Sit at a lat pulldown machine and grab the bar using an underhand grip with your hands shoulder-width apart. <br>

Without moving your torso, pull the bar to your chest as you squeeze your shoulder blades together. Pause, and return to the starting position. <br>
<br>
<b>Reps: 8</b>

<h2>4. Dumbbell Single-Arm Shoulder Press</h2>
<br><br><img  class="img-responsive" src="../assets/v6.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Stand holding a dumbbell in your left hand in front of your left shoulder. <br>

Press the weight directly above your shoulder; then lower it. Do all your reps, switch arms, and repeat. <br>
<br>
<b>Reps: 6 per arm </b><br>
<b>Supersets: 4</b>

<h2>5. Single-Arm Compound Row</h2>
<br><br><img  class="img-responsive" src="../assets/v7.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Set a cable handle to hip height and grab it in your right hand, arm extended. Push your hips back; then thrust them forward, rowing the cable to your chest. <br>

Do all your reps, switch hands, and repeat. <br>
<br>
<b>Reps: 10 per arm </b><br>
<b>Sets: 3</b>

<h2>6. Straight-Arm Pulldown</h2>
<br><br><img  class="img-responsive" src="../assets/v-shape.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Attach a rope handle to the highest setting of a cable station. Holding an end of the rope in each hand, push your hips back with your arms extended. <br>

Without bending your arms, thrust your hips forward and pull the handle to your thighs. Return to the starting position and repeat. <br>
<br>
<b>Reps: 10</b>

<h2>7. Face Pull</h2>
<br><br><img  class="img-responsive" src="../assets/v9.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Stand holding the rope handle so the ends point toward the ceiling as shown. Bend your elbows and squeeze your shoulders together as you pull the sides of the rope to your ears. <br>

Return to the starting position and repeat. <br>
<br>
<b>Reps: 10 </b><br>
<b>Supersets: 3</b>


<h2>8. Plate Chop</h2>
<br><br><img  class="img-responsive" src="../assets/v10.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
Holding a weight plate, bend your knees and rotate your torso left as you lower the weight to the outside of your left knee. Then rise up as you rotate right and lift it above your right shoulder; pause and pivot back down to your left.<br>
<br>
<b>Reps: 6 per side (not alternating)</b><br>
<b>Sets: 3</b>

</div>
