<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Vegan, Vegetarian, & Pescatarian Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d8.jpg" ><br><br>
  The vegan diet, unlike many other diets, uses both health properties of food and examines the moral implications of diet.

  The vegan diet excludes all animal based foods, including animal products.
  
  This means that all meat, fish, chicken, shellfish, dairy, eggs, and other animal based foods are eliminated from this diet.
  
  Additionally, many people who practice a vegan diet will not use animal based products like leather in their lives.
  
  While the moral implications of this diet are debated widely amongst philosophers, there are sound moral reasons for adopting this framework.
  
  Additionally, while there appear to be some health benefits to adopting a vegan based lifestyle, there are also some drawbacks based on nutritional deficiencies that people adopting a vegan lifestyle need to consider and avoid for optimal health.
  
  Vegetarianism is comparable to veganism with one important distinction: the consumption of animal byproducts that do not require an animal’s death to obtain are allowed.
  
  This means that one is allowed to consume dairy, eggs, cheese, and other animal by products.
  
  This is an important distinction from veganism as the consumption of eggs, cheese, and dairy can help prevent many of the nutritional deficiencies observed in individuals consuming a vegan diet.
  
  Pescatarianism is one more step up the dietary ladder towards complete carnivore. It allows the consumption of fish.
  
  <br><br><img  class="img-responsive" src="../assets/d8a.jpg" ><br>
  <h2>History of Vegan, Vegetarian, & Pescatarian Diets</h2>
  The idea of not eating animals has been around for centuries; primarily due to religious reasons. For example, Buddhist Vegetarianism can be dated back to between the 6th and 4th Century BC.
  
  Veganism as it is currently practiced can be credited to Donald Watson. He co-founded the Vegan Society in England and his initial prescription of veganism was what is now described as non-dairy vegetarianism.
  
  Later he changed it to the doctrine that man should live without exploiting animals, in both consumption and in other uses.
  
  <h2>General Overview of Components & Main Principles</h2>
  The vegan diet simply requires that you do not consume any animals or their by products. This means that all meat, fish, chicken, shellfish, dairy, eggs, and other animal based foods are eliminated from this diet. By default, this requires that people rely on plant based foods for the entirety of their nutrition.
  
  As a result, vegan diets are usually higher in dietary fiber, magnesium, folic acid, vitamins C and E, iron, and phytochemicals, and they tend to be lower in calories, saturated fat and cholesterol, long-chain n–3 (omega-3) fatty acids, vitamin D, calcium, zinc, and vitamin B-12. 
  
  As they often do not meet the daily requirements for Omega 3 fatty acids, vitamin D, vitamin B-12, and choline, these must often be supplemented. Additionally, as they do not consume complete proteins, which are derived from animal products, they must source their proteins with careful thought and consideration in order to get an adequate amount of essential amino acids.
  
  <h2>Vegan Vs Vegetarian</h2>
  The vegan and the vegetarian diet operate under the same principle of avoiding animal products for moral reasons and for health reasons. However, vegetarian diets are different than vegan diets in that they allow for the consumption of animal by-products such as dairy, eggs, and cheese.
  
  This is an important distinction as vegetarians can use these animal by products to help ensure a full spectrum of amino acid intake, consume enough choline and vitamin B-12 to cover potential nutrient deficiencies that vegans can be faced with.
  
  <br><br><img  class="img-responsive" src="../assets/d8b.jpg" ><br>
  <h2>Vegan Vs Pescatarian</h2>
  Pescatarianism is a modified version of vegetarianism. Pescatarians adopt a similar food philosophy and dietary approach as both vegans and vegetarians with one exception: they allow the consumption of fish and often times other sea food such as shrimp, clams, and other shellfish.
  
  Pescatarianism can offer vegans or vegetarians the option of consuming foods rich in long chain omega-3 fatty acids such as EPA and DHA to help prevent any nutritional deficiencies that may arise in veganism or vegetarianism in this nutrient.
  
  <h2>Vegan Vs Raw Food Diet</h2>
  The raw food diet takes veganism one step further and requires that individuals only consume food in their raw state. This means no cooking or altering food chemically or physically.
  
  The raw food diet has also been labeled under the umbrella of the clean eating diet. It is even more extreme as clean eating allows for cooking food while the raw food diet does not.
  
  The scientific premise behind the raw food diet is that it is the optimal way to consume food and maximize nutrients from the food you eat. This has been largely disproven by the scientific community.
  
  <h2>Meal Timing/Frequency</h2>
  The vegan diet does not have explicit requirements for the number of meals one ought to eat per day, nor does it have any requirements of when one ought to eat.
  
  The dietary principle can be integrated into any time or frequency schedule.
  
  <h2>Restrictions/Limitations</h2>
  The vegan diet places strict limitations on animal products and requires they are completely eliminated from the diet. This includes all animal by products like dairy, eggs, cheese, whey, and cream.
  
  <h2>Does it Include Phases?</h2>
  The vegan diet does not include phases in any of its mainstream prescriptions.
   
  <br><br><img  class="img-responsive" src="../assets/d8c.jpg" ><br>
<h2>Who is it Best Suited For?</h2>
The vegan diet is best suited for individuals who have a moral inclination toward animals as equals and reducing the amount of harm and suffering in the universe.

The vegan diet is also best suited for followers of certain religions (e.g. Buddhism, Hinduism, Jainism).

<h2>How Easy is it to Follow?</h2>
A vegan diet can be difficult to follow for a wide range of people as they have to omit a wide range of foods. The elimination of animal byproducts can make it especially difficult when eating out as most commercial kitchens use animal based products in their dressing, sauces, and other staple dishes.

Some individuals find that following a vegan diet becomes relatively easy after learning to change their food environment and frequenting vegan-friendly restaurants.

<h2>Mainstream Belief Behind Diet</h2>
The mainstream belief behind the vegan diet is driven largely by moral and religious reasons for not consuming meat. There is also some scientific data that people use to support this diet.

The most notable “study” conducted on this approach to eating is the China Study. This large, epidemiological study conducted by T. Colin Campbell makes the claim that animal protein is linked to higher rates of cancer and other chronic diseases.

<h2>Scientific Studies and Interpretation of Data</h2>
The China Study has been largely dismissed as correlation data with weak methodology and should not be used as a point of reference to support a vegan lifestyle.

That being said, there are dozens of well-controlled interventional studies looking at vegan diets and lifestyles for several aspects of fat loss and health.

<h2>Fat Loss</h2>
In one study, Sixty-four overweight, postmenopausal women were randomly assigned to a vegan diet or a National Cholesterol Education Program diet for 14 weeks. At 1 year post study follow up the vegan diet group had lost and maintained roughly an 11 pound weight loss compared to about 4 pounds in the National Cholesterol Education Program group.

  <br><br><img  class="img-responsive" src="../assets/d8d.jpg" ><br>
  It is important to note that dietary adherence and attending support meetings as also associated with the weight loss so it is likely that the adherence to the diet, and not the diet itself that made the substantial difference.

  Very similar results were found in a paper published in the Journal of the American Medical Association where an Ornish diet protocol led to similar weight loss to an Atkins, Zone, and Weight Watchers diet, especially when adherence was accounted for.
  
  Cumulatively, the evidence suggests that vegan diets are indeed effective tools for weight loss when adherence to the diet is high.
  
  <h2>General Health</h2>
  The high intake of plant matter compared to animal matter has been implicated in improving inflammation, insulin resistance, and plasma lipids. In a recent head-to-head comparison of a vegan diet to the American Diabetes Association Diet both diets were associated with sustained reductions in weight and plasma lipid concentrations.
  
  In an analysis controlling for medication changes, a low-fat vegan diet appeared to improve glycemia and plasma lipids more than did conventional diabetes diet recommendations.
  
  <h2>Conclusion</h2>
  The vegan diet, unlike many other diets, uses both health properties of food and examines the moral implications of diet. The vegan diet excludes all animal based foods, including animal products.
  
  This means that all meat, fish, chicken, shellfish, dairy, eggs, and other animal based foods are eliminated from this diet.
  
  Additionally, while there appear to be some health benefits to adopting a vegan based lifestyle, there are also some drawbacks based on nutritional deficiencies that people adopting a vegan lifestyle need to consider and avoid for optimal health.

</div>
