<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Carb Cycling Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d5.jpg" ><br><br>
  Carb cycling is a dietary tool that essentially uses a fasted and fed approach; however it is unique in that it focuses specifically on carbohydrate intake and not any other macronutrient.

  It uses long periods of carbohydrate restriction coupled with short windows of carbohydrate referring (aka refeeds).
  
  The theory behind this diet is similar to other diets that manipulate dietary carbohydrates in that they are attempting to leverage insulin signaling to maximize fat loss.
  
  Carb cycling adopts a different approach from other diets like the ketogenic diet or other low carbohydrate diets by including periods of high carbohydrate intake.
  
  Carb cycling is also referred to as the cyclic ketogenic diet as it uses periods of ketosis which are purported to have some health benefits.
  
  <h2>History of Carb Cycling</h2>
  From what we can gather carb cycling as it is currently thought of is believed to have been created and implemented by Franco Carlotto in the late 1980s or early 1990s. It was a riff off of both the high carbohydrate diet ideas that pervaded the bodybuilding scene and the low-carb diets that were beginning to gain popularity in some of the dieting circles.
  
  It was the first attempt to blend several ideas into one diet that might take advantage of the benefits of different dietary approaches that were being implemented during the Golden Era of Bodybuilding. More recently, it has, for all intensive purpose, been repackaged into the modern day Carb Nite and Carb Backloading diets.
  <br><br><img  class="img-responsive" src="../assets/d5a.jpg" ><br> 
  <h2>General Overview of Components and Main Principles of Carb Cycling</h2>
  Carb cycling (AKA the cyclic ketogenic diet) typically prescribes 5-6 days of very low carbohydrate intake, usually less than 50 grams per day. On the 6th or 7th day there is a carbohydrate refeed day where carbohydrate intake increases up to 450-600 grams of carbohydrates while keeping fat intake incredibly low.
  
  The goal of the refeed is to refill muscle glycogen levels, “recover” some potential down regulation of hormones that are affected during dieting, and carbohydrate restriction (e.g. thyroid hormone), and to help with mental aspect of restricting food to a substantial degree.
  
  These refeed periods are critical aspects of the diet and are what set it apart both in practice and in theory from the ketogenic diet. They are designed to allow for periods of being well nourished from a carbohydrate perspective in order to allow for several days of high-intensity, high-volume training.
  
  In practice, this makes a much better approach to cutting, or periods of fat loss, for individuals with high training volume.
  
  <h2>Meal Timing/Frequency</h2>
  As canonically thought of, carb cycling does not prescribe rigid timing or frequency of meals. Some variations of carb cycling, such as Carb Nite or Carb Backloading suggest defined windows of consuming your daily carbohydrates, specifically in the evening.
  
  These aspects of carb cycling have not been tested or proven in the scientific literature and currently remain “bro-lore”.
  
  <h2>Restrictions/Limitations</h2>
  Carb cycling restricts the macronutrients (aka the quantity) of your diet quite extensively but not the quality. For 5-6 days a week one is required to keep their carbohydrate intake incredibly low, usually less than 50 grams per day. On the 6th or 7th day one is required to eat 450-600 grams of carbohydrates and keep fat intake quite low.
  
  As carb cycling is usually a “macro-based” diet, it is often layered on top of an If It Fits Your Macros or Flexible Dieting paradigm. As such, carb cycling is typically not restrictive of food quality and does not generally prescribe lists of “do not eat” foods.
  
  <h2>Does it Include Phases?</h2>
  Carb cycling essentially includes two phases:<br>
  
  1. The low carb phase <br>
  2. The refeed phase. <br>
  The phases can differ person to person based on their individual situation. For some individuals, their low-carb/refeed day ratio looks like 5:1 or 6:1, whereas other individuals with higher training volumes may opt for a 4:1 or 3:1 ratio.  
  <br><br><img  class="img-responsive" src="../assets/d5b.jpg" ><br>
  <h2>Who is it Best Suited For?</h2>
  Carb cycling is best suited for people who are trying to control calorie intake and enjoy a low-carb dieting approach, but who also want to be able to train at a higher level. Typically, ketogenic diets reduce an individual’s training capacity and recovery capacity.
  
  Carb cycling allows for several day windows of high muscle glycogen levels to maximize training and recovery that are typically not available to individuals utilizing a ketogenic diet approach.
  
  <h2>How Easy is it to Follow?</h2>
  In many respects, carb cycling is the “easier to follow” version of the ketogenic diet. Carb cycling allows for a mental break from carbohydrate restriction and allows for days of higher calorie intake to also help curb some of the issues that arise during dieting.
  
  Additionally, it does not have strict requirements of food quality and does not have a strict do not eat list. In other respects it can be difficult to follow as it requires large stretches of reducing dietary carbohydrate which can impinge on daily life and social gatherings.
  
  The refeed days can be impractical and difficult to execute for some people as 450-600 grams of carbohydrates can be a lot of food to consume in one day.
  
  <h2>Mainstream Belief Behind Diet</h2>
  The main stream belief behind carb cycling is that it couples the theorized fat loss benefits of the ketogenic diet along with the benefits of higher carbohydrate intake for training and growing muscle. It is the attempt to merge the benefits of both low-carb and high carb diets.
  
  While much of the “theory” underlying the diet has not been well researched in the science circles (aka no peer reviewed studies directly addressing carb cycling), it has been well used and well tested in bodybuilding, fat loss, weight lifting, powerlifting, and endurance circles.
  <br><br><img  class="img-responsive" src="../assets/d5c.jpg" ><br>
  <h2>Scientific Studies and Interpretation of the Data</h2>
A thorough review of medical science databases show no research studies to adequately address the proposed fat loss, health, or muscle building benefits of carb cycling.

However, it is likely that many of the benefits of the ketogenic diet, such as spontaneous caloric restriction, are present in carb cycling.

Much more research on this specific dietary modality is needed.

<h2>Conclusion</h2>
Carbohydrate cycling is a more practical way to implement some of the most effective principles of the ketogenic diet in a hard training, real-work population.

It allows for long stretches of caloric restriction via elimination of carbohydrate rich foods while also allowing for several days of hard training and can prevent the sustained reductions in muscle glycogen storage that arise from long-term ketogenic diets.

This diet can be a successful tool for bodybuilders or figure competitors who need to lose body fat while still have several high quality training sessions per week.
  </div>