<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">The Mediterranean Diet Plan Guide</h1>
  <hr style="border:0.5px solid black;">
  <br><br><img  class="img-responsive" src="../assets/d7.jpg" ><br><br>
  The Mediterranean diet is based upon the epidemiological findings that those who live in Greece, Italy, and Spain and consume traditional diets of their culture have better health measures than the rest of the world.

  The key features of this diet is high consumption of olive oil, legumes, fish, vegetables, whole cereal grains, and moderate consumption of cheese and yogurt.
  
  To quote the Mayo Clinic, “The Mediterranean diet emphasizes: Eating primarily plant-based foods, such as fruits and vegetables, whole grains, legumes and nuts. Replacing butter with healthy fats such as olive oil and canola oil. Using herbs and spices instead of salt to flavor foods.”
  
  For all intents and purposes the Mediterranean diet was initially motivated by medical research in attempts to reduce and prevent heart disease.
  
  Additionally, this diet, while it conveys weight loss and health properties has not become a main dietary choice for much of the health and fitness industry.
  
  Despite this fact, many individuals who adopt other dietary frameworks borrow many of the core principles the Mediterranean diet into their own diets.
  <br><br><img  class="img-responsive" src="../assets/d7a.jpg" ><br>
  <h2>History of the Mediterranean Diet</h2>
  The Mediterranean diet is one of the better documented diets in recent history and much is known about its history. The initial Mediterranean diet pyramid was created using the most current nutrition research to represent a healthy, traditional Mediterranean diet.
  
  It was based on the dietary traditions of Crete, Greece, and southern Italy circa 1960 at a time when the rates of chronic disease among populations there were among the lowest in the world, and adult life expectancy was among the highest even though medical services were limited1.
  
  Then later in 1993 the Harvard School of Public Health, the World Health Organization, and the nutritional organization Old Ways introduced the classic Mediterranean Diet along with a Mediterranean Diet Pyramid graphic to represent it visually.
  
  The Mediterranean Diet Pyramid got an update as recently as 2008. In this update, herbs and spices were included and shellfish (and other fish) were placed higher on the food pyramid.
  
  <h2>General Overview of Components & Main Principles of the Mediterranean Diet</h2>
  The Mediterranean diet is based on adopting the dietary patterns of traditional Mediterranean culture. The diet emphasizes consuming mostly plant-based foods, such as fruits, vegetables, nuts, legumes, and whole grains.
  
  It also encourages replacing butter and animal based fats with olive oil and using herbs and spices to flavor food instead of salt. Red meat should only be consumed a few times of month and fish and poultry should be the bulk of your protein intake. Red wine in moderation is an optional feature of this diet.
  
  Engaging in regular exercise is also a key tenet of the diet.
  <br><br><img  class="img-responsive" src="../assets/d7b.jpg" ><br>
  <h2>Meal Timing/Frequency</h2>
  The Mediterranean Diet does not have explicit requirements for the number of meals one ought to eat per day, nor does it have any requirements of when one ought to eat. The dietary principle can be integrated into any time or frequency schedule.
  
  <h2>Restrictions/Limitations</h2>
  The Mediterranean diet does not have hard restrictions or limitations but does set for relatively straight forward guidelines of what one ought to eat. Limiting certain foods, such as red meat and butter, are tenants of the diet but complete elimination of them is not required.
  
  <h2>Does it Include Phases?</h2>
  The Mediterranean Diet as described in the scientific literature does not include phases of any kind.
  
  <h2>Who is it Best Suited For?</h2>
  The Mediterranean diet is best suited for individuals who do not want to over complicate their diet as it is a relatively easy to follow, straight forward diet without many hard dietary restrictions.
  
  This diet may also be well suited for individuals who do not wish to strictly track their food intake and rely more on food quality to drive their nutrition than strict adherence to caloric and macronutrient prescriptions.
  
  Additionally, as there is substantial data to support the Mediterranean Diet as a lifestyle intervention to aid in fat loss and improve cardiovascular health, individuals with more health focused priorities can adopt this diet to reduce the risk of chronic diseases.
  
  <h2>How Easy is it to Follow?</h2>
  The Mediterranean diet is relatively easy to follow in that it does not prescribe hard calorie or macronutrient requirements, nor does it explicitly eliminate foods from a person’s diet. Rather, it provides a dietary framework in which people consume specific types of food for a large majority of their meals.
  
  This approach is likely to lead to greater adherence than more strict approaches; however this flexibility may be difficult for people who prefer stricter, black and white guidelines.
  <br><br><img  class="img-responsive" src="../assets/d7c.jpg" ><br>
  <h2>Mainstream Belief Behind Diet</h2>
  The Mediterranean diet was originally designed and implemented from the nutritional research community based upon the epidemiological findings that those who live in Greece, Italy, and Spain and consume traditional diets of their culture have better health measures than the rest of the world.
  
  For example, traditional cultures from the island of Crete have much lower rates of cardiovascular disease than the Westernized society of America. It is believed that many of the dietary components of these cultures contribute to their greater health measures and lower disease burdens than the west.
  
  <h2>Scientific Studies and Interpretation of Data</h2>
  The Mediterranean diet is the most well researched of all nutritional interventions to date. In fact, there are almost 4,500 references in the US National Library of Medicine and National Institute of health.
  
  It would be unfeasible to address each study but we will highlight several areas in which the Mediterranean diet has shown substantial benefit.
  
  <h2>Fat Loss Benefits</h2>
  In a large clinical trial published in the New England Journal of Medicine showed that a Mediterranean diet was successful in helping participants lose weight (about 9 pounds), had high adherence (~85% after 2 years), and improved glucose sensitivity.
  
  In a systematic review of 5 randomized controlled trials, The Mediterranean diet resulted in greater weight loss (~loss of 8 to 22 pounds) than a low-fat diet (~ gain of 6 pounds to loss of 10 pounds)  at ≥12 months.
  
  Another study using a slightly modified version of the Mediterranean diet showed an average weight loss of roughly 10 pounds after 12 weeks of following the dietary protocol in overweight subjects.
  
  <h2>Muscle Building Benefits</h2>
  The sport science field has not yet done rigorous, intervention based studies on the effect of the Mediterranean diet on muscle building. That being said there is some data to suggest that it may be of some benefit.
  
  For example, one study showed that in a northern European population, there was a positive correlation between women who ate a diet reflection of the Mediterranean diet and free fat mass and leg power.
  
  <h2>Overall Health Benefits</h2>
  The most well-known Mediterranean diet intervention, known as the PREDIMED study, demonstrated that among persons at high cardiovascular risk, a Mediterranean diet supplemented with extra-virgin olive oil or nuts reduced the incidence of major cardiovascular events by roughly 30%.
  
  A further analysis of this study demonstrated that the Mediterranean diet may be able to reverse metabolic syndrome and that a “free eating” Mediterranean diet may be useful in reducing the risks of central obesity and hyperglycemia in people at high risk of cardiovascular disease.
  <br><br><img  class="img-responsive" src="../assets/d7d.jpg" ><br>
  <h2>Conclusion</h2>
  The Mediterranean diet is based upon the epidemiological findings that those who live in Greece, Italy, and Spain and consume traditional diets of their culture have better health measures than the rest of the world.
  
  The key tenants of this diet are: eating primarily plant-based foods, such as fruits and vegetables, whole grains, legumes and nuts; replacing butter with healthy fats such as olive oil and canola oil; using herbs and spices instead of salt to flavor foods.
  
  For all intensive purposes the Mediterranean Diet was initially motivated by medical research in attempts to reduce and prevent heart disease and has been well documented to aid in weight loss and reduces the risk of chronic diseases such as heart disease and metabolic syndrome.
  
  Additionally, the relatively flexible nature of this diet makes it relatively easy to follow and implement as a long-term dieting strategy.  
  </div>