<div id="top"></div>
<hr style="width:80%;border:black solid;margin-top:5%;">
<div style="text-align: justify;margin:5% 20% 0% 20%;color:black;padding-bottom: 3%;">
  <h1 style="text-align: left;margin-top: 5%;">10 Best Muscle-Building Triceps Exercises</h1>
  <h3>Do your arms pop in the front but lag in the back? Check out our 10 best exercises for building titanic triceps!</h3>
  <hr style="border:0.5px solid black;">
  <br><br> <img class="img-responsive" src="../assets/tmain.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
  Building a pair of sleeve-stretching arms is on the brain of many gym-goers, but nobody approaches it the same way: Some guys head straight for the cables to perform all manner of push-downs, while others embark on a 90-minute tour of every exercise they know. Alas, the result of either method is lackluster growth.<br>

Never confuse activity with achievement. The best intentions can be undone first and foremost by making poor exercise choices. So let's be perfectly clear: Some movements are better than others when it comes to building muscle. If you want to build titanic triceps—which make up roughly two-thirds of your arm mass, by the way—then you should check out the 10 exercises below. They're the best for building solid back-arm mass.<br>

Some of these exercises are validated by research, notably EMG studies, which measure the electrical activity of working muscles. Other choices are based on factors that include how difficult a movement is, how easy it is to overload, how unique it is compared to other movements, and where it fits best into your workout.<br>

If you don't see your favorite on this list, don't fret! These 10 exercises aren't enough to complete your entire triceps toolkit; they're just the beginning. We welcome your input in the comments section for any other recommendations you may have!<br>

<h2>1. Skullcrusher</h2>
<b>Why it's on the list:</b> The guys who literally wrote the book on how to optimize training with EMG-based exercise selection point to this as the best overall triceps activation exercise.1 While this move—also known as a French press or lying triceps extension—doesn't necessarily isolate the lateral or long-triceps head more than the other exercises, the arm position perpendicular to your body combines the activity of the two heads to catapult this movement to the top of the list.<br>
<br><br> <img class="img-responsive" src="../assets/t1.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> Do 3 sets for 8-12 reps as the first or second exercise in your routine. Make sure you have a spotter on these, which will help you get the bar into position and allow for a bit more safety when you're lowering the bar toward that million-dollar face!<br>

<h2>2. Close-Grip Bench Press</h2>
<b>Why it's on the list:</b>If you've read any of our previous best-exercise articles, like those for chest and back, then you already know that we love compound (multijoint) exercises because they're the best for muscle growth. Even though the three-headed triceps is a fairly small muscle group, there are a handful of multijoint movements that target it.<br>

We're big fans of bench pressing for triceps, because extending the elbows during those presses is a triceps workout in itself. Powerlifters have been doing this movement for ages, and they're known for having some mighty large bazookas. One of the first EMG studies on pressing angles and muscle activation discovered that flat bench with a narrow grip activates the long head of the triceps to a greater extent than an inclined bench.<br>

To really torch your triceps, use a close grip, but keep your hands around 8-10 inches apart. Going with a closer grip doesn't put any more stress on your arm, but it does increase the strain on your wrists. Tuck your elbows to decrease the amount of stress on your pecs and shoulders while increasing the demand on your triceps.<br>
<br><br> <img class="img-responsive" src="../assets/t2.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> Place this movement first or second in your workout. Do 3-4 sets of 6-10 reps.<br>

<h2>3. Weighted Parallel-Bar Dip</h2>
<b>Why it's on the list:</b> This is another multijoint movement for triceps, so it's toward the front of the line—especially weighted, which makes it more ideal than bodyweight dips for building mass. Attaching a belt around your waist with plates can increase the resistance so you fail within the target rep range of 8-12 ideal for muscle growth.<br>

To focus your dips on the triceps, keep your body as vertical as possible—don't lean forward, which hits your chest—and keep those elbows tight to your sides. Think dips don't work for you? Take a look at any male gymnast; that's the definition of horseshoe triceps!<br>
<br><br> <img class="img-responsive" src="../assets/t3.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> While there's a pretty high degree of muscle recruitment with dips, it's oftentimes best to push them later in your workouts. Start your triceps training by slinging big weights with presses, and then use dips in the middle of your workout to flush those arms with blood. Load up your dip belt and shoot for 3-4 sets of 8-12 reps!<br>

<h2>4. Weighted Bench Dip</h2>
<b>Why it's on the list:</b> Another dip? Yep. EMG evidence suggests that there's substantial triceps activation during a bodyweight bench dip.How can we make this even better? By bumping up the load with added weight! Any time we increase the mechanical load, metabolic stress, and mechanical stress to a muscle fiber, we can increase the recruitment of repair proteins normally present.<br>

This multijoint movement is similar to the machine dip, but it requires a partner to place weights across your thighs and positioning two flat benches the right distance apart. Dropsets are easy to do; just remove a plate to extend your set.<br>
<br><br> <img class="img-responsive" src="../assets/t4.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> Put this in the middle or end of your workout. If you are feeling super fatigued, this may not be the best exercise, since your shoulders could end up in a compromised position rounding forward. Shoot for 3 sets of 8-12 reps.<br>

<h2>5. Triceps Dip Machine</h2>
<b>Why it's on the list:</b> This compound exercise makes it especially easy to find a weight that targets your desired rep range. If you're training for strength, simply move the pin to a heavier load than if you're training for hypertrophy (8-12 reps). You'll likely need to strap yourself in, but this move also makes it easy to do forced reps (with a partner), dropsets, or even rest-pause to boost your intensity.<br>
<br><br> <img class="img-responsive" src="../assets/t5.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> Do this early or in the middle of your workout for 3-4 sets of 6-10 reps. You can also finish with this movement to flush the triceps with high reps. Most trainees mess up here by failing to go to full extension and stopping short of fully bending their elbows, so keep full range of motion in mind.<br>

<h2>6. Board Press</h2>
<b>Why it's on the list:</b> This one may be new many lifters. The idea behind this movement is to essentially restrict the bottom portion of the bench press by placing 2x4s on your chest. This allows you to preferentially train the final lockout of the bench press.<br>

Movement analysis of the bench press, whether close grip or regular, demonstrates that quite a bit of elbow extension occurs over the final two-thirds of the press off of the chest. When you dust off your anatomy books, you'll see that primary action of the triceps is elbow extension. This means that board presses really target your triceps!<br>

If you need any more proof why you should add in occasional board presses, look to the top-equipped powerlifters in the field who also do this limited-ROM movement to increase arm strength.<br>
<br><br> <img class="img-responsive" src="../assets/t6.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>

<b>In your workout:</b> Slot this one in the number 2 or 3 position in your routine. This may feel goofy at first, but once you get the hang of it, you'll learn to relish all the plates clanging as you do it. Go heavy here! Shoot for the low end of hypertrophy, and do 4 sets of 8 reps.<br>

<h2>7. Seated Overhead Dumbbell Extension</h2>
<b>Why it's on the list:</b> Once your arms go overhead, the long head becomes the target, so it's always a good idea to include some kind of arms-overhead exercise in your triceps routine. This is but one of many good options, and it's probably the easiest to get into the start position, especially when seated. If you've got a partner, it's even easier if he hands you the weight. (You can also do a few assisted reps.) Once again, minimize elbow flare on this movement.<br>

<br><br> <img class="img-responsive" src="../assets/t7.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
<b>In your workout:</b> After multijoint triceps exercises, this is normally done toward the second half of your workout. Do 3 sets of 8-10 reps. The goal here is to really load the triceps during the eccentric portion of the lift, so concentrate on a good stretch as you lower the weight.<br>

  <h2>8. Cable Overhead Extension With Rope</h2>
  <b>Why it's on the list:</b> We named this the top cable move on our list because it focuses on the oft-undertargeted long head and is extremely easy to get into position. With a rope attached to an upper pulley, lean forward using a split stance and lock your elbows by the sides of your head. Your elbows should be hinges, with no other movement taking place, as you extend the rope over your head. Again, watch out for elbow flare.<br>
  <br><br> <img class="img-responsive" src="../assets/t8.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
  <b>In your workout:</b> A great second or third exercise in place of another long-head movement. Do 3 sets of 8-12 reps.
  
  <h2>9. Cable Kick-Back</h2>
  <b>Why it's on the list:</b> We're not big fans of the dumbbell kick-back because there are so many ways to cheat on it. But with cables, when the angle of pull is coming from the side rather than straight down, it's much harder to cheat.<br>
  
  Want to know how to optimize this kick-back for maximal muscle activation? Take a bench and incline it up to about 60 degrees. Facing the weight stack with your chest on the bench, perform the cable kick-back with your upper arm locked parallel to the floor. Surprisingly, a well-executed kick-back like this garners similar muscle activation as a single-arm dumbbell extension for both the long and lateral heads.<br>
  
  Just make sure you don't drop your elbow— an incredibly common mistake—which turns this single-joint movement into a multijoint one. Extend your elbow to fully straighten your arm and squeeze. Don't use a handle here; just grab the rubber ball.<br>
  <br><br> <img class="img-responsive" src="../assets/t9.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
  <b>In your workout:</b> You won't be able to go very heavy with this exercise, so do it last in your routine for 3 sets of 10-12 reps. Maximal contraction is the name of the game here.<br>
  
  <h2>10. Cable Push-Down</h2>
  <b>Why it's on the list:</b> Going back to the "gold standard" training book of EMG, Boeckh-Behrens and Buskies demonstrated that cable push-downs actually activated the lateral head of the triceps greater than skullcrushers, kick-backs, or any other major triceps exercise.If you're not doing this movement already, it's a fairly good single-joint lateral-head movement as long as you don't let your elbows drift from your sides. Dropsets are easy to do here!<br>
  <br><br> <img class="img-responsive" src="../assets/t10.jpg" style="width:100%;padding: 0px 15px 0px 0px;"><br><br>
  <b>In your workout:</b> Since this is an isolation exercise, do it toward the end of your triceps workout for 3 sets of 10-12 reps. Once you pass the beginner level, it may be okay to allow your elbows to drift a bit from your sides to allow a greater stretch on the triceps.<br>
</div>